

<body style="background-color:white;">
	<ul id="listings-nav">
		<li>Gondolas •</li>
		<li>Mannequins •</li>
		<li>Pharmacy Displays •</li>
		<li>Security Mirrors •</li>
		<li>Shopping Carts And Baskets •</li>
		<li>Showcases •</li>
		<li>Slatwall And Accessories •</li>
		<li>Tags And Guns •</li>
		<li>Wire Baskets •</li>
		<li>Racks •</li>
		<li>Hangers •</li>
		<li>Gridwall </li>

	</ul>

	



<ul id= "listings-index-table">
		
		<li>
		<table class="products" id="gondolas">
			<tr>
				<td class="col">
					<ul>
					<% @listings_gondolas.each do |listing| %>

		            	<li>
						<% if listing.pictures.first %>
		            	<!--listing image pictures -->
		            	<%= link_to image_tag(listing.pictures.first.image.url), listing_path(listing) %>
						<p><%= listing.name %></p>
						<% else %>
		              		N/A
		            	<% end %>
						<%= link_to "Delete Section", listing, :method => :delete,
		                                  data: { confirm: "You sure?" } %>
		                <%= link_to "Edit Section", edit_listing_path(listing) %>


						<!-- Name, price and buttons -->
						
						</li>
						<% end %>
					</ul>
				</td>
			</tr>
		</table>
		</li>

		<li>
		<table class="products" id="mannequins">
			<tr>
				<td class="col">
					<ul>
					<% @listings_mannequins.each do |listing| %>
		            	<li>
						<% if listing.pictures.first %>
		            	<!-- listing image pictures -->
		            	<%= link_to image_tag(listing.pictures.first.image.url), listing_path(listing) %>
						<p><%= listing.name %></p>
						<% else %>
		              		N/A
		            	<% end %>
						<%= link_to "Delete Section", listing, :method => :delete,
		                                  data: { confirm: "You sure?" } %>
		                <%= link_to "Edit Section", edit_listing_path(listing) %>


						<!-- Name, price and buttons -->
						
						</li>
						<% end %>
					</ul>
				</td>
			</tr>
		</table>
		</li>

		<li>
		<table class="products" id="pharmacy_displays">
			<tr>
				<td class="col">
					<ul>
					<% @listings_pharmacy_displays.each do |listing| %>
		            	<li>
						<% if listing.pictures.first %>
		            	<!-- listing image pictures -->
		            	<%= link_to image_tag(listing.pictures.first.image.url), listing_path(listing) %>
						<p><%= listing.name %></p>
						<% else %>
		              		N/A
		            	<% end %>
						<%= link_to "Delete Section", listing, :method => :delete,
		                                  data: { confirm: "You sure?" } %>
		                <%= link_to "Edit Section", edit_listing_path(listing) %>


						<!-- Name, price and buttons -->
						
						</li>
						<% end %>
					</ul>
				</td>
			</tr>
		</table>
		</li>

		<li>
		<table class="products" id="security_mirrors">
			<tr>
				<td class="col">
					<ul>
					<% @listings_security_mirrors.each do |listing| %>
		            	<li>
						<% if listing.pictures.first %>
		            	<!-- listing image pictures -->
		            	<%= link_to image_tag(listing.pictures.first.image.url), listing_path(listing) %>
						<p><%= listing.name %></p>
						<% else %>
		              		N/A
		            	<% end %>
						<%= link_to "Delete Section", listing, :method => :delete,
		                                  data: { confirm: "You sure?" } %>
		                <%= link_to "Edit Section", edit_listing_path(listing) %>


						<!-- Name, price and buttons -->
						
						</li>
						<% end %>
					</ul>
				</td>
			</tr>
		</table>
		</li>

		<li>
		<table class="products" id="shopping_carts_and_baskets">
			<tr>
				<td class="col">
					<ul>
					<% @listings_shopping_carts_and_baskets.each do |listing| %>
		            	<li>
						<% if listing.pictures.first %>
		            	<!-- listing image pictures -->
		            	<%= link_to image_tag(listing.pictures.first.image.url), listing_path(listing) %>
						<p><%= listing.name %></p>
						<% else %>
		              		N/A
		            	<% end %>
						<%= link_to "Delete Section", listing, :method => :delete,
		                                  data: { confirm: "You sure?" } %>
		                <%= link_to "Edit Section", edit_listing_path(listing) %>


						<!-- Name, price and buttons -->
						
						</li>
						<% end %>
					</ul>
				</td>
			</tr>
		</table>
		</li>

		<li>
		<table class="products" id="showcases">
			<tr>
				<td class="col">
					<ul>
					<% @listings_showcases.each do |listing| %>
		            	<li>
						<% if listing.pictures.first %>
		            	<!-- listing image pictures -->
		            	<%= link_to image_tag(listing.pictures.first.image.url), listing_path(listing) %>
						<p><%= listing.name %></p>
						<% else %>
		              		N/A
		            	<% end %>
						<%= link_to "Delete Section", listing, :method => :delete,
		                                  data: { confirm: "You sure?" } %>
		                <%= link_to "Edit Section", edit_listing_path(listing) %>


						<!-- Name, price and buttons -->
						
						</li>
						<% end %>
					</ul>
				</td>
			</tr>
		</table>
		</li>

		<li>
		<table class="products" id="slatwall_and_accessories">
			<tr>
				<td class="col">
					<ul>
					<% @listings_slatwall_and_accessories.each do |listing| %>
		            	<li>
						<% if listing.pictures.first %>
		            	<!-- listing image pictures -->
		            	<%= link_to image_tag(listing.pictures.first.image.url), listing_path(listing) %>
						<p><%= listing.name %></p>
						<% else %>
		              		N/A
		            	<% end %>
						<%= link_to "Delete Section", listing, :method => :delete,
		                                  data: { confirm: "You sure?" } %>
		                <%= link_to "Edit Section", edit_listing_path(listing) %>


						<!-- Name, price and buttons -->
						
						</li>
						<% end %>
					</ul>
				</td>
			</tr>
		</table>
		</li>
		
		<li>
		<table class="products" id="tags_and_guns">
			<tr>
				<td class="col">
					<ul>
					<% @listings_tags_and_guns.each do |listing| %>
		            	<li>
						<% if listing.pictures.first %>
		            	<!-- listing image pictures -->
		            	<%= link_to image_tag(listing.pictures.first.image.url), listing_path(listing) %>
						<p><%= listing.name %></p>
						<% else %>
		              		N/A
		            	<% end %>
						<%= link_to "Delete Section", listing, :method => :delete,
		                                  data: { confirm: "You sure?" } %>
		                <%= link_to "Edit Section", edit_listing_path(listing) %>


						<!-- Name, price and buttons -->
						
						</li>
						<% end %>
					</ul>
				</td>
			</tr>
		</table>
		</li>


		<li>
		<table class="products" id="wire_baskets">
			<tr>
				<td class="col">
					<ul>
					<% @listings_wire_baskets.each do |listing| %>
		            	<li>
						<% if listing.pictures.first %>
		            	<!-- listing image pictures -->
		            	<%= link_to image_tag(listing.pictures.first.image.url), listing_path(listing) %>
						<p><%= listing.name %></p>
						<% else %>
		              		N/A
		            	<% end %>
						<%= link_to "Delete Section", listing, :method => :delete,
		                                  data: { confirm: "You sure?" } %>
		                <%= link_to "Edit Section", edit_listing_path(listing) %>


						</li>
						<!-- Name, price and buttons -->
						
						<% end %>
					</ul>
				</td>
			</tr>
		</table>
		</li>



		<li>
		<table class="products" id="racks">
			<tr>
				<td class="col">
					<ul>
					<% @listings_racks.each do |listing| %>
		            	<li>
						<% if listing.pictures.first %>
		            	<!-- listing image pictures -->
		            	<%= link_to image_tag(listing.pictures.first.image.url), listing_path(listing) %>
						<p><%= listing.name %></p>
						<% else %>
		              		N/A
		            	<% end %>
						<%= link_to "Delete Section", listing, :method => :delete,
		                                  data: { confirm: "You sure?" } %>
		                <%= link_to "Edit Section", edit_listing_path(listing) %>


						</li>
						<!-- Name, price and buttons -->
						
						<% end %>
					</ul>
				</td>
			</tr>
		</table>
		</li>


		<li>
		<table class="products" id="hangers">
			<tr>
				<td class="col">
					<ul>
					<% @listings_hangers.each do |listing| %>
		            	<li>
						<% if listing.pictures.first %>
		            	<!-- listing image pictures -->
		            	<%= link_to image_tag(listing.pictures.first.image.url), listing_path(listing) %>
						<p><%= listing.name %></p>
						<% else %>
		              		N/A
		            	<% end %>
						<%= link_to "Delete Section", listing, :method => :delete,
		                                  data: { confirm: "You sure?" } %>
		                <%= link_to "Edit Section", edit_listing_path(listing) %>


						</li>
						<!-- Name, price and buttons -->
						
						<% end %>
					</ul>
				</td>
			</tr>
		</table>
		</li>

		<li>
		<table class="products" id="gridwall">
			<tr>
				<td class="col">
					<ul>
					<% @listings_gridwall.each do |listing| %>
		            	<li>
						<% if listing.pictures.first %>
		            	<!-- listing image pictures -->
		            	<%= link_to image_tag(listing.pictures.first.image.url), listing_path(listing) %>
						<p><%= listing.name %></p>
						<% else %>
		              		N/A
		            	<% end %>
						<%= link_to "Delete Section", listing, :method => :delete,
		                                  data: { confirm: "You sure?" } %>
		                <%= link_to "Edit Section", edit_listing_path(listing) %>


						</li>
						<!-- Name, price and buttons -->
						
						<% end %>
					</ul>
				</td>
			</tr>
		</table>
		</li>
	</ul>


<ul class="listings-show-lists" id="gondolas-listings-show-pictures">
	<% @gondolas_pictures.each do |pic| %>
	<li>
		<%= image_tag pic.image.url %><br>
		<%= pic.description %><br>
		<%= pic.size %><br>
		<%= link_to "Edit picture", edit_picture_path(pic) %><br><br>
	</li>
	<% end %> 
</ul>  



<ul class="listings-show-lists" id="mannequins-listings-show-pictures">
	<% @mannequins_pictures.each do |pic| %>
	<li>
		<%= image_tag pic.image.url %><br>
		<%= pic.description %><br>
		<%= pic.size %><br>
		<%= link_to "Edit picture", edit_picture_path(pic) %><br><br>
	</li>
	<% end %> 
</ul>  

<ul class="listings-show-lists" id="pharmacy_displays-listings-show-pictures">
	<% @pharmacy_displays_pictures.each do |pic| %>
	<li>
		<%= image_tag pic.image.url %><br>
		<%= pic.description %><br>
		<%= pic.size %><br>
		<%= link_to "Edit picture", edit_picture_path(pic) %><br><br>
	</li>
	<% end %> 
</ul>  



<ul class="listings-show-lists" id="security_mirrors-listings-show-pictures">
	<% @security_mirrors_pictures.each do |pic| %>
	<li>
		<%= image_tag pic.image.url %><br>
		<%= pic.description %><br>
		<%= pic.size %><br>
		<%= link_to "Edit picture", edit_picture_path(pic) %><br><br>
	</li>
	<% end %> 
</ul>  


<ul class="listings-show-lists" id="shopping_carts_and_baskets-listings-show-pictures">
	<% @shopping_carts_and_baskets_pictures.each do |pic| %>
	<li>
		<%= image_tag pic.image.url %><br>
		<%= pic.description %><br>
		<%= pic.size %><br>
		<%= link_to "Edit picture", edit_picture_path(pic) %><br><br>
	</li>
	<% end %> 
</ul>  


<ul class="listings-show-lists" id="showcases-listings-show-pictures">
	<% @showcases_pictures.each do |pic| %>
	<li>
		<%= image_tag pic.image.url %><br>
		<%= pic.description %><br>
		<%= pic.size %><br>
		<%= link_to "Edit picture", edit_picture_path(pic) %><br><br>
	</li>
	<% end %> 
</ul>  


<ul class="listings-show-lists" id="slatwall_and_accessories-listings-show-pictures">
	<% @slatwall_and_accessories_pictures.each do |pic| %>
	<li>
		<%= image_tag pic.image.url %><br>
		<%= pic.description %><br>
		<%= pic.size %><br>
		<%= link_to "Edit picture", edit_picture_path(pic) %><br><br>
	</li>
	<% end %> 
</ul>  


<ul class="listings-show-lists" id="tags_and_guns-listings-show-pictures">
	<% @tags_and_guns_pictures.each do |pic| %>
	<li>
		<%= image_tag pic.image.url %><br>
		<%= pic.description %><br>
		<%= pic.size %><br>
		<%= link_to "Edit picture", edit_picture_path(pic) %><br><br>
	</li>
	<% end %>
</ul>  



<ul class="listings-show-lists" id="wire_baskets-listings-show-pictures">
	<% @wire_baskets_pictures.each do |pic| %>
	<li>
		<%= image_tag pic.image.url %><br>
		<%= pic.description %><br>
		<%= pic.size %><br>
		<%= link_to "Edit picture", edit_picture_path(pic) %><br><br>
	</li>
	<% end %> 
</ul>  


<ul class="listings-show-lists" id="racks-listings-show-pictures">
	<% @racks_pictures.each do |pic| %>
	<li>
		<%= image_tag pic.image.url %><br>
		<%= pic.description %><br>
		<%= pic.size %><br>
		<%= link_to "Edit picture", edit_picture_path(pic) %><br><br>
	</li>

	<% end %> 
</ul>  


<ul class="listings-show-lists" id="hangers-listings-show-pictures">
	<% @hangers_pictures.each do |pic| %>
	<li>
		<%= image_tag pic.image.url %><br>
		<%= pic.description %><br>
		<%= pic.size %><br>
		<%= link_to "Edit picture", edit_picture_path(pic) %><br><br>
	</li>
	<% end %> 
</ul>  



<ul class="listings-show-lists" id="gridwall-listings-show-pictures">
	<% @gridwall_pictures.each do |pic| %>
	<li>
		<%= image_tag pic.image.url %><br>
		<%= pic.description %><br>
		<%= pic.size %><br>
		<%= link_to "Edit picture", edit_picture_path(pic) %><br><br>
	</li>
	<% end %> 
</ul>











	</body>


