

<body style="background-color:white;">
<h1 class="h1-headers"> Products </h1>



<ul id= "listings-index-table">
	<li>

	<table class="products" id="gondolas">
		<tr>
			<td class="col">
				<ul>
				<% @listings_gondolas.each do |listing| %>

	            	<li>
					<% if listing.pictures.first %>
	            	<!-- listing image pictures -->
	            	<%= link_to image_tag(listing.pictures.first.image.url), listing_path(listing) %>
					<p><%= listing.name %></p>
					<% else %>
	              		N/A
	            	<% end %>
					<%= link_to "Delete Section", listing, :method => :delete,
	                                  data: { confirm: "You sure?" } %>
	                <%= link_to "Edit Section", edit_listing_path(listing) %>


					<!-- Name, price and buttons -->
					
					</li>
					<% end %>
				</ul>
			</td>
		</tr>
	</table>
	</li>

	<li>

	<table class="products" id="mannequins">
		<tr>
			<td class="col">
				<ul>
				<% @listings_mannequins.each do |listing| %>
	            	<li>
					<% if listing.pictures.first %>
	            	<!-- listing image pictures -->
	            	<%= link_to image_tag(listing.pictures.first.image.url), listing_path(listing) %>
					<p><%= listing.name %></p>
					<% else %>
	              		N/A
	            	<% end %>
					<%= link_to "Delete Section", listing, :method => :delete,
	                                  data: { confirm: "You sure?" } %>
	                <%= link_to "Edit Section", edit_listing_path(listing) %>


					<!-- Name, price and buttons -->
					
					</li>
					<% end %>
				</ul>
			</td>
		</tr>
	</table>
	</li>
	<li>

	<table class="products" id="pharmacy_displays">
		<tr>
			<td class="col">
				<ul>
				<% @listings_pharmacy_displays.each do |listing| %>
	            	<li>
					<% if listing.pictures.first %>
	            	<!-- listing image pictures -->
	            	<%= link_to image_tag(listing.pictures.first.image.url), listing_path(listing) %>
					<p><%= listing.name %></p>
					<% else %>
	              		N/A
	            	<% end %>
					<%= link_to "Delete Section", listing, :method => :delete,
	                                  data: { confirm: "You sure?" } %>
	                <%= link_to "Edit Section", edit_listing_path(listing) %>


					<!-- Name, price and buttons -->
					
					</li>
					<% end %>
				</ul>
			</td>
		</tr>
	</table>
	</li>
	<li>

	<table class="products" id="security_mirrors">
		<tr>
			<td class="col">
				<ul>
				<% @listings_security_mirrors.each do |listing| %>
	            	<li>
					<% if listing.pictures.first %>
	            	<!-- listing image pictures -->
	            	<%= link_to image_tag(listing.pictures.first.image.url), listing_path(listing) %>
					<p><%= listing.name %></p>
					<% else %>
	              		N/A
	            	<% end %>
					<%= link_to "Delete Section", listing, :method => :delete,
	                                  data: { confirm: "You sure?" } %>
	                <%= link_to "Edit Section", edit_listing_path(listing) %>


					<!-- Name, price and buttons -->
					
					</li>
					<% end %>
				</ul>
			</td>
		</tr>
	</table>
	</li>
	<li>

	<table class="products" id="shopping_carts_and_baskets">
		<tr>
			<td class="col">
				<ul>
				<% @listings_shopping_carts_and_baskets.each do |listing| %>
	            	<li>
					<% if listing.pictures.first %>
	            	<!-- listing image pictures -->
	            	<%= link_to image_tag(listing.pictures.first.image.url), listing_path(listing) %>
					<p><%= listing.name %></p>
					<% else %>
	              		N/A
	            	<% end %>
					<%= link_to "Delete Section", listing, :method => :delete,
	                                  data: { confirm: "You sure?" } %>
	                <%= link_to "Edit Section", edit_listing_path(listing) %>


					<!-- Name, price and buttons -->
					
					</li>
					<% end %>
				</ul>
			</td>
		</tr>
	</table>
	</li>
	<li>

	<table class="products" id="showcases">
		<tr>
			<td class="col">
				<ul>
				<% @listings_showcases.each do |listing| %>
	            	<li>
					<% if listing.pictures.first %>
	            	<!-- listing image pictures -->
	            	<%= link_to image_tag(listing.pictures.first.image.url), listing_path(listing) %>
					<p><%= listing.name %></p>
					<% else %>
	              		N/A
	            	<% end %>
					<%= link_to "Delete Section", listing, :method => :delete,
	                                  data: { confirm: "You sure?" } %>
	                <%= link_to "Edit Section", edit_listing_path(listing) %>


					<!-- Name, price and buttons -->
					
					</li>
					<% end %>
				</ul>
			</td>
		</tr>
	</table>
	</li>
	<li>

	<table class="products" id="slatwall_and_accessories">
		<tr>
			<td class="col">
				<ul>
				<% @listings_slatwall_and_accessories.each do |listing| %>
	            	<li>
					<% if listing.pictures.first %>
	            	<!-- listing image pictures -->
	            	<%= link_to image_tag(listing.pictures.first.image.url), listing_path(listing) %>
					<p><%= listing.name %></p>
					<% else %>
	              		N/A
	            	<% end %>
					<%= link_to "Delete Section", listing, :method => :delete,
	                                  data: { confirm: "You sure?" } %>
	                <%= link_to "Edit Section", edit_listing_path(listing) %>


					<!-- Name, price and buttons -->
					
					</li>
					<% end %>
				</ul>
			</td>
		</tr>
	</table>
	</li>
	<li>

	<table class="products" id="tags_and_guns">
		<tr>
			<td class="col">
				<ul>
				<% @listings_tags_and_guns.each do |listing| %>
	            	<li>
					<% if listing.pictures.first %>
	            	<!-- listing image pictures -->
	            	<%= link_to image_tag(listing.pictures.first.image.url), listing_path(listing) %>
					<p><%= listing.name %></p>
					<% else %>
	              		N/A
	            	<% end %>
					<%= link_to "Delete Section", listing, :method => :delete,
	                                  data: { confirm: "You sure?" } %>
	                <%= link_to "Edit Section", edit_listing_path(listing) %>


					<!-- Name, price and buttons -->
					
					</li>
					<% end %>
				</ul>
			</td>
		</tr>
	</table>
	</li>
	<li>

	<table class="products" id="wire_baskets">
		<tr>
			<td class="col">
				<ul>
				<% @listings_wire_baskets.each do |listing| %>
	            	<li>
					<% if listing.pictures.first %>
	            	<!-- listing image pictures -->
	            	<%= link_to image_tag(listing.pictures.first.image.url), listing_path(listing) %>
					<p><%= listing.name %></p>
					<% else %>
	              		N/A
	            	<% end %>
					<%= link_to "Delete Section", listing, :method => :delete,
	                                  data: { confirm: "You sure?" } %>
	                <%= link_to "Edit Section", edit_listing_path(listing) %>


					</li>
					<!-- Name, price and buttons -->
					
					<% end %>
				</ul>
			</td>
		</tr>
	</table>
	</li>



	<li>
	<table class="products" id="racks">
		<tr>
			<td class="col">
				<ul>
				<% @listings_racks.each do |listing| %>
	            	<li>
					<% if listing.pictures.first %>
	            	<!-- listing image pictures -->
	            	<%= link_to image_tag(listing.pictures.first.image.url), listing_path(listing) %>
					<p><%= listing.name %></p>
					<% else %>
	              		N/A
	            	<% end %>
					<%= link_to "Delete Section", listing, :method => :delete,
	                                  data: { confirm: "You sure?" } %>
	                <%= link_to "Edit Section", edit_listing_path(listing) %>


					</li>
					<!-- Name, price and buttons -->
					
					<% end %>
				</ul>
			</td>
		</tr>
	</table>
	</li>


	<li>
	<table class="products" id="hangers">
		<tr>
			<td class="col">
				<ul>
				<% @listings_hangers.each do |listing| %>
	            	<li>
					<% if listing.pictures.first %>
	            	<!-- listing image pictures -->
	            	<%= link_to image_tag(listing.pictures.first.image.url), listing_path(listing) %>
					<p><%= listing.name %></p>
					<% else %>
	              		N/A
	            	<% end %>
					<%= link_to "Delete Section", listing, :method => :delete,
	                                  data: { confirm: "You sure?" } %>
	                <%= link_to "Edit Section", edit_listing_path(listing) %>


					</li>
					<!-- Name, price and buttons -->
					
					<% end %>
				</ul>
			</td>
		</tr>
	</table>
	</li>

		<li>
	<table class="products" id="gridwall">
		<tr>
			<td class="col">
				<ul>
				<% @listings_gridwall.each do |listing| %>
	            	<li>
					<% if listing.pictures.first %>
	            	<!-- listing image pictures -->
	            	<%= link_to image_tag(listing.pictures.first.image.url), listing_path(listing) %>
					<p><%= listing.name %></p>
					<% else %>
	              		N/A
	            	<% end %>
					<%= link_to "Delete Section", listing, :method => :delete,
	                                  data: { confirm: "You sure?" } %>
	                <%= link_to "Edit Section", edit_listing_path(listing) %>


					</li>
					<!-- Name, price and buttons -->
					
					<% end %>
				</ul>
			</td>
		</tr>
	</table>
	</li>




</ul>

</body>