  <html>

<body>
<div id="listing-form" style="display:none;">

<%= link_to 'New Listing', new_listing_path, remote: true %>
</div>


<div class="container">
 <div id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active">
        <%= image_tag "Glass_store.jpg", :class => "img-responsive" %>
        <div class="container">
          <div class="carousel-caption">
            <h1>Variety of all products!</h1>
                <h2> Willing to price match!</h2>
            <p>Contact us now for prices and inquiries!</p>
            <pthis is="" an="" example="" layout="" with="" carousel="" that="" uses="" the="" bootstrap="" 3="" styles.<="" small=""><p></p>
            <!-- <p><a class="btn btn-lg btn-primary" href="http://getbootstrap.com">Learn More</a> -->
          </p></pthis></div>
        </div>
      </div>
      <div class="item">
        <%= image_tag "Loreal_store.jpg", :class => 'img-responsive' %>
        <div class="container">
          <div class="carousel-caption">
            <h1>In business for over 20 years!</h1>
            <p>We will come to you!</p>
            <!-- <p><a id="purchase" class="btn btn-large btn-primary" href="#">Purchase</a></p> -->
          </div>
        </div>
      </div>
      <div class="item">
        <%= image_tag "Convenience_store.jpg", :class => "img-responsive" %>
        <div class="container">
          <div class="carousel-caption">
            <h1>Call now!</h1>
            <p>Contact Bobby at 516.804.8057 OR 347.725.4935</p>
            <!-- <p><a class="btn btn-large btn-primary" href="#">Browse gallery</a></p> -->
          </div>
        </div>
      </div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="icon-next"></span>
    </a>
  </div>
</div>
  <!-- /.carousel -->


    <ul id="front-table">
        <li><div><p><a href="#" id="explore-button">EXPLORE OUR PRODUCTS NOW</a></p></div></li>
 <!--        <li><div><p><a href="/listings">Mannequins</a></p></div></li>
        <li><div><p><a href="/listings">Pharmacy Display</a></p></div></li>
        <li><div><p><a href="/listings">Security Mirrors</a></p></div></li>
        <li><div><p><a href="/listings">Shopping Carts and Baskets</a></p></div></li>
        <li><div><p><a href="/listings">Showcase</a></p></div></li>
        <li><div><p><a href="/listings">Slatwall</a></p></div></li>
        <li><div><p><a href="/listings">Tags and Guns</a></p></div></li>
        <li><div><p><a href="/listings">Wire Baskets</a></p></div></li>
 -->
    </ul>


<!--  -->

<ul style="background-color:white; margin:0 auto; width:95%;" id="listings-nav">
    <li>Gondolas •</li>
    <li>Mannequins •</li>
    <li>Pharmacy Displays •</li>
    <li>Security Mirrors •</li>
    <li>Shopping Carts And Baskets •</li>
    <li>Showcases •</li>
    <li>Slatwall And Accessories •</li>
    <li>Tags And Guns •</li>
    <li>Wire Baskets •</li>
    <li>Racks •</li>
    <li>Hangers •</li>
    <li>Gridwall </li>

  </ul>


<ul style="background-color:white; width: 100%;" id= "listings-index-table">
    
    <li>
    <table class="products" id="gondolas">
      <tr>
        <td class="col">
          <ul>
          <% @listings_gondolas.each do |listing| %>

                  <li>
            <% if listing.pictures.first %>
                  <!--listing image pictures -->
                  <%= link_to image_tag(listing.pictures.first.image.url), listing_path(listing) %>
            <p><%= listing.name %></p>
            <% else %>
                      N/A
                  <% end %>




            <!-- Name, price and buttons -->
            
            </li>
          </ul>
        </td>
      </tr>
    </table>
            <% if logged_in? %>
            <%= link_to "Delete Section", listing, :method => :delete,
                                      data: { confirm: "You sure?" } %>
                                      <br>
                                      <br>
                    <%= link_to "Edit Section", edit_listing_path(listing) %>
                <% end %>
            <% end %>
    </li>

    <li>
    <table class="products" id="mannequins">
      <tr>
        <td class="col">
          <ul>
          <% @listings_mannequins.each do |listing| %>
                  <li>
            <% if listing.pictures.first %>
                  <!-- listing image pictures -->
                  <%= link_to image_tag(listing.pictures.first.image.url), listing_path(listing) %>
            <p><%= listing.name %></p>
            <% else %>
                      N/A
                  <% end %>


            <!-- Name, price and buttons -->
            
            </li>
          </ul>
        </td>
      </tr>
    </table>
                <%if logged_in? %>

            <%= link_to "Delete Section", listing, :method => :delete,
                                      data: { confirm: "You sure?" } %>
                                      <br>
                                      <br>
                    <%= link_to "Edit Section", edit_listing_path(listing) %>
                <% end %>
            <% end %>
    </li>

    <li>
    <table class="products" id="pharmacy_displays">
      <tr>
        <td class="col">
          <ul>
          <% @listings_pharmacy_displays.each do |listing| %>
                  <li>
            <% if listing.pictures.first %>
                  <!-- listing image pictures -->
                  <%= link_to image_tag(listing.pictures.first.image.url), listing_path(listing) %>
            <p><%= listing.name %></p>
            <% else %>
                      N/A
                  <% end %>


            <!-- Name, price and buttons -->
            
            </li>
          </ul>
        </td>
      </tr>
    </table>
                <%if logged_in? %>
            <%= link_to "Delete Section", listing, :method => :delete,
                                      data: { confirm: "You sure?" } %>
                                      <br>
                                      <br>
                    <%= link_to "Edit Section", edit_listing_path(listing) %>
                <% end %>
            <% end %>
    </li>

    <li>
    <table class="products" id="security_mirrors">
      <tr>
        <td class="col">
          <ul>
          <% @listings_security_mirrors.each do |listing| %>
                  <li>
            <% if listing.pictures.first %>
                  <!-- listing image pictures -->
                  <%= link_to image_tag(listing.pictures.first.image.url), listing_path(listing) %>
            <p><%= listing.name %></p>
            <% else %>
                      N/A
                  <% end %>


            <!-- Name, price and buttons -->
            
            </li>
          </ul>
        </td>
      </tr>
    </table>
                <%if logged_in? %>
            <%= link_to "Delete Section", listing, :method => :delete,
                                      data: { confirm: "You sure?" } %>
                                      <br>
                                      <br>
                    <%= link_to "Edit Section", edit_listing_path(listing) %>
                <% end %>
            <% end %>
    </li>

    <li>
    <table class="products" id="shopping_carts_and_baskets">
      <tr>
        <td class="col">
          <ul>
          <% @listings_shopping_carts_and_baskets.each do |listing| %>
                  <li>
            <% if listing.pictures.first %>
                  <!-- listing image pictures -->
                  <%= link_to image_tag(listing.pictures.first.image.url), listing_path(listing) %>
            <p><%= listing.name %></p>
            <% else %>
                      N/A
                  <% end %>


            <!-- Name, price and buttons -->
            
            </li>
          </ul>
        </td>
      </tr>
    </table>
                <%if logged_in? %>
            <%= link_to "Delete Section", listing, :method => :delete,
                                      data: { confirm: "You sure?" } %>
                                      <br>
                                      <br>
                    <%= link_to "Edit Section", edit_listing_path(listing) %>
                <% end %>
            <% end %>
    </li>

    <li>
    <table class="products" id="showcases">
      <tr>
        <td class="col">
          <ul>
          <% @listings_showcases.each do |listing| %>
                  <li>
            <% if listing.pictures.first %>
                  <!-- listing image pictures -->
                  <%= link_to image_tag(listing.pictures.first.image.url), listing_path(listing) %>
            <p><%= listing.name %></p>
            <% else %>
                      N/A
                  <% end %>


            <!-- Name, price and buttons -->
            
            </li>
          </ul>
        </td>
      </tr>
    </table>
                <%if logged_in? %>
            <%= link_to "Delete Section", listing, :method => :delete,
                                      data: { confirm: "You sure?" } %>
                                      <br>
                                      <br>
                    <%= link_to "Edit Section", edit_listing_path(listing) %>
                <% end %>
            <% end %>
    </li>

    <li>
    <table class="products" id="slatwall_and_accessories">
      <tr>
        <td class="col">
          <ul>
          <% @listings_slatwall_and_accessories.each do |listing| %>
                  <li>
            <% if listing.pictures.first %>
                  <!-- listing image pictures -->
                  <%= link_to image_tag(listing.pictures.first.image.url), listing_path(listing) %>
            <p><%= listing.name %></p>
            <% else %>
                      N/A
                  <% end %>


            <!-- Name, price and buttons -->
            
            </li>
          </ul>
        </td>
      </tr>
    </table>
                <%if logged_in? %>
            <%= link_to "Delete Section", listing, :method => :delete,
                                      data: { confirm: "You sure?" } %>
                                      <br>
                                      <br>
                    <%= link_to "Edit Section", edit_listing_path(listing) %>
                <% end %>
            <% end %>
    </li>
    
    <li>
    <table class="products" id="tags_and_guns">
      <tr>
        <td class="col">
          <ul>
          <% @listings_tags_and_guns.each do |listing| %>
                  <li>
            <% if listing.pictures.first %>
                  <!-- listing image pictures -->
                  <%= link_to image_tag(listing.pictures.first.image.url), listing_path(listing) %>
            <p><%= listing.name %></p>
            <% else %>
                      N/A
                  <% end %>


            <!-- Name, price and buttons -->
            
            </li>
          </ul>
        </td>
      </tr>
    </table>
                <%if logged_in? %>
            <%= link_to "Delete Section", listing, :method => :delete,
                                      data: { confirm: "You sure?" } %>
                                      <br>
                                      <br>
                    <%= link_to "Edit Section", edit_listing_path(listing) %>
                <% end %>
            <% end %>
    </li>


    <li>
    <table class="products" id="wire_baskets">
      <tr>
        <td class="col">
          <ul>
          <% @listings_wire_baskets.each do |listing| %>
                  <li>
            <% if listing.pictures.first %>
                  <!-- listing image pictures -->
                  <%= link_to image_tag(listing.pictures.first.image.url), listing_path(listing) %>
            <p><%= listing.name %></p>
            <% else %>
                      N/A
                  <% end %>


            </li>
            <!-- Name, price and buttons -->
            
          </ul>
        </td>
      </tr>
    </table>
                <%if logged_in? %>
            <%= link_to "Delete Section", listing, :method => :delete,
                                      data: { confirm: "You sure?" } %>
                                      <br>
                                      <br>
                    <%= link_to "Edit Section", edit_listing_path(listing) %>
                <% end %>
            <% end %>
    </li>



    <li>
    <table class="products" id="racks">
      <tr>
        <td class="col">
          <ul>
          <% @listings_racks.each do |listing| %>
                  <li>
            <% if listing.pictures.first %>
                  <!-- listing image pictures -->
                  <%= link_to image_tag(listing.pictures.first.image.url), listing_path(listing) %>
            <p><%= listing.name %></p>
            <% else %>
                      N/A
                  <% end %>


            </li>
            <!-- Name, price and buttons -->
            
          </ul>
        </td>
      </tr>
    </table>
                <%if logged_in? %>
            <%= link_to "Delete Section", listing, :method => :delete,
                                      data: { confirm: "You sure?" } %>
                                      <br>
                                      <br>
                    <%= link_to "Edit Section", edit_listing_path(listing) %>
                <% end %>
            <% end %>
    </li>


    <li>
    <table class="products" id="hangers">
      <tr>
        <td class="col">
          <ul>
          <% @listings_hangers.each do |listing| %>
                  <li>
            <% if listing.pictures.first %>
                  <!-- listing image pictures -->
                  <%= link_to image_tag(listing.pictures.first.image.url), listing_path(listing) %>
            <p><%= listing.name %></p>
            <% else %>
                      N/A
                  <% end %>


            </li>
            <!-- Name, price and buttons -->
            
          </ul>
        </td>
      </tr>
    </table>
                <%if logged_in? %>
            <%= link_to "Delete Section", listing, :method => :delete,
                                      data: { confirm: "You sure?" } %>
                                      <br>
                                      <br>
                    <%= link_to "Edit Section", edit_listing_path(listing) %>
                <% end %>
            <% end %>
    </li>

    <li>
    <table class="products" id="gridwall">
      <tr>
        <td class="col">
          <ul>
          <% @listings_gridwall.each do |listing| %>
                  <li>
            <% if listing.pictures.first %>
                  <!-- listing image pictures -->
                  <%= link_to image_tag(listing.pictures.first.image.url), listing_path(listing) %>
            <p><%= listing.name %></p>
            <% else %>
                      N/A
                  <% end %>


            </li>
            <!-- Name, price and buttons -->
            
          </ul>
        </td>
      </tr>
    </table>
                <%if logged_in? %>
            <%= link_to "Delete Section", listing, :method => :delete,
                                      data: { confirm: "You sure?" } %>
                                      <br>
                                      <br>
                    <%= link_to "Edit Section", edit_listing_path(listing) %>
                <% end %>
            <% end %>
    </li>
</ul>


<ul class="listings-show-lists" id="gondolas-listings-show-pictures">
  <% @gondolas_pictures.each do |pic| %>
  <li>
    <%= image_tag pic.image.url %><br>
    <%= pic.description %><br>
    
    <%= pic.size %><br>
    <% if logged_in? %>
      <%= form_for pic, remote: true, :html => {:class => "edit-form"} do |f| %>


    <%= f.label :description %>

    <%= f.text_field :description%><br>

    <%= f.label :size %>

    <%= f.text_field :size%><br>    
 
    <%= f.submit "Update", :id => "update-button"  %>

    <% end %>
    <% end %>
  </li>
  <% end %> 
</ul>  



<ul class="listings-show-lists" id="mannequins-listings-show-pictures">
  <% @mannequins_pictures.each do |pic| %>
  <li>
    <%= image_tag pic.image.url %><br>
    <%= pic.description %><br>
    
    <%= pic.size %><br>
    <% if logged_in? %>
    <%= link_to "Edit picture", edit_picture_path(pic) %><br><br>
    <% end %>
  </li>
  <% end %> 
</ul>  

<ul class="listings-show-lists" id="pharmacy_displays-listings-show-pictures">
  <% @pharmacy_displays_pictures.each do |pic| %>
  <li>
    <%= image_tag pic.image.url %><br>
    <%= pic.description %><br>
    
    <%= pic.size %><br>
    <% if logged_in? %>
    <%= link_to "Edit picture", edit_picture_path(pic) %><br><br>
    <% end %>
  </li>
  <% end %> 
</ul>  



<ul class="listings-show-lists" id="security_mirrors-listings-show-pictures">
  <% @security_mirrors_pictures.each do |pic| %>
  <li>
    <%= image_tag pic.image.url %><br>
    <%= pic.description %><br>
    
    <%= pic.size %><br>
    <% if logged_in? %>
    <%= link_to "Edit picture", edit_picture_path(pic) %><br><br>
    <% end %>
  </li>
  <% end %> 
</ul>  


<ul class="listings-show-lists" id="shopping_carts_and_baskets-listings-show-pictures">
  <% @shopping_carts_and_baskets_pictures.each do |pic| %>
  <li>
    <%= image_tag pic.image.url %><br>
    <%= pic.description %><br>
    
    <%= pic.size %><br>
    <% if logged_in? %>
    <%= link_to "Edit picture", edit_picture_path(pic) %><br><br>
    <% end %>
  </li>
  <% end %> 
</ul>  


<ul class="listings-show-lists" id="showcases-listings-show-pictures">
  <% @showcases_pictures.each do |pic| %>
  <li>
    <%= image_tag pic.image.url %><br>
    <%= pic.description %><br>
    
    <%= pic.size %><br>
    <% if logged_in? %>
    <%= link_to "Edit picture", edit_picture_path(pic) %><br><br>
    <% end %>
  </li>
  <% end %> 
</ul>  


<ul class="listings-show-lists" id="slatwall_and_accessories-listings-show-pictures">
  <% @slatwall_and_accessories_pictures.each do |pic| %>
  <li>
    <%= image_tag pic.image.url %><br>
    <%= pic.description %><br>
    
    <%= pic.size %><br>
    <% if logged_in? %>
    <%= link_to "Edit picture", edit_picture_path(pic) %><br><br>
    <% end %>
  </li>
  <% end %> 
</ul>  


<ul class="listings-show-lists" id="tags_and_guns-listings-show-pictures">
  <% @tags_and_guns_pictures.each do |pic| %>
  <li>
    <%= image_tag pic.image.url %><br>
    <%= pic.description %><br>
    
    <%= pic.size %><br>
    <% if logged_in? %>
    <%= link_to "Edit picture", edit_picture_path(pic) %><br><br>
    <% end %>
  </li>
  <% end %>
</ul>  



<ul class="listings-show-lists" id="wire_baskets-listings-show-pictures">
  <% @wire_baskets_pictures.each do |pic| %>
  <li>
    <%= image_tag pic.image.url %><br>
    <%= pic.description %><br>
    
    <%= pic.size %><br>
    <% if logged_in? %>
    <%= link_to "Edit picture", edit_picture_path(pic) %><br><br>
    <% end %>
  </li>
  <% end %> 
</ul>  


<ul class="listings-show-lists" id="racks-listings-show-pictures">
  <% @racks_pictures.each do |pic| %>
  <li>
    <%= image_tag pic.image.url %><br>
    <%= pic.description %><br>
    
    <%= pic.size %><br>
    <% if logged_in? %>
    <%= link_to "Edit picture", edit_picture_path(pic) %><br><br>
    <% end %>
  </li>

  <% end %> 
</ul>  


<ul class="listings-show-lists" id="hangers-listings-show-pictures">
  <% @hangers_pictures.each do |pic| %>
  <li>
    <%= image_tag pic.image.url %><br>
    <%= pic.description %><br>
    
    <%= pic.size %><br>
    <% if logged_in? %>
    <%= link_to "Edit picture", edit_picture_path(pic) %><br><br>
    <% end %>
  </li>
  <% end %> 
</ul>  



<ul class="listings-show-lists" id="gridwall-listings-show-pictures">
  <% @gridwall_pictures.each do |pic| %>
  <li>
    <%= image_tag pic.image.url %><br>
    <%= pic.description %><br>
    
    <%= pic.size %><br>
    <% if logged_in? %>
    <%= link_to "Edit picture", edit_picture_path(pic) %><br><br>

  <%= form_for pic do |f| %>

    <%= image_tag pic.image.url %><br>
    <%= f.label :description %>

    <%= f.text_field :description%><br>

    <%= f.label :size %>

    <%= f.text_field :size%><br>    
 
    <%= f.submit  %>

    <% end %>


    <% end %>
  </li>
  <% end %> 
</ul>





</body>
</html>
